<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="offres"></ion-back-button>
    </ion-buttons>
    <ion-title>SuperBox</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <form  [formGroup]="prospector" (ngSubmit)="submit()">
      <swiper-container
      [pagination]="true"

      >
        <swiper-slide>
          <ion-card>
            <ng-container>
              <ion-select
  formControlName="choix"
  label="Choix"
  label-placement="floating"
  fill="outline"
  name="choix"
  required
>
  <ion-select-option value="15Go/mois">15Go/mois</ion-select-option>
  <ion-select-option value="25Go/mois">25Go/mois</ion-select-option>
  <ion-select-option value="35Go/mois">35Go/mois</ion-select-option>
</ion-select>


              <ion-input
              label="ICCID"
              label-placement="floating"
              fill="outline"

              type="text"
              formControlName="iccid"
              errorText="iccid complet requis"
                >
            </ion-input>

            <ion-input
            label="Numero de serie:"
            label-placement="floating"
            fill="outline"
            type="text"
            formControlName="numeroserie"
            errorText="Numero de serie requis"
            >
          </ion-input>
          <ion-input
          label="Zone de recherche:"
          label-placement="floating"
          fill="outline"
          type="text"
          formControlName="zonerecherche"
          errorText="Zone de recherche requis"
          >
        </ion-input>
        <ion-input
        label="MSISDN:"
        label-placement="floating"
        fill="outline"
        type="text"
        formControlName="msisdn"
        errorText="MSISDNrequis"
        >
      </ion-input>

      <div class="ion-text-center">
  <ion-button (click)="ActiverBox()">Activer</ion-button></div>
          </ng-container>
          </ion-card>
        </swiper-slide>

        <swiper-slide>
          <ion-card>
            <ng-container>

              <swiper-slide>
                <ion-item>
                  <label >Signature Client:</label>
                  <canvas #signaturePad width="500" height="200"></canvas>

                  <div class="ion-text-center">
                    <ion-buttons>
                      <ion-button (click)="clear()">Clear</ion-button>
                    </ion-buttons>
                    <ion-buttons>
                      <ion-button (click)="submit()">Submit</ion-button>
                    </ion-buttons>
                  </div>
                </ion-item>
                <div class="ion-text-center">
                  <ion-button (click)="Valider()">Valider</ion-button>
                </div>
              </swiper-slide>


            </ng-container>



          </ion-card>
        </swiper-slide>
      </swiper-container>

    </form>

  </ion-content>






