<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Interface Activation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <form [formGroup]="prospector" (ngSubmit)="onSubmit()">

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-input
          label="Nom"
          label-placement="floating"
           fill="outline"
            placeholder="Nom"
            type="text"
            name="name"
            formControlName="nom"
           >
        </ion-input>
        <ion-input


          label="Prenom"
          label-placement="floating"
          fill="outline"
          placeholder="Prenom"
          type="text"
          formControlName="prenom"

        >
        </ion-input>

        <ion-item>
          <ion-select label="Type d'identité" placeholder="ID type" formControlName="numeroidentite" >
            <ion-select-option value="CIN">CIN</ion-select-option>
            <ion-select-option value="PASS">PASSEPORT</ion-select-option>
            <ion-select-option value="SEJ">SEJOUR</ion-select-option>

          </ion-select>
        </ion-item>

        <ion-input

          label="Numero d'identite"
          label-placement="floating"
          fill="outline"
          placeholder="Numero d identite"
          type="text"
          maxlength="10"
          formControlName="numeroidentite"

        >
        </ion-input>
        <div *ngIf="prospector.get('numeroIdentite')?.invalid && (prospector.get('numeroIdentite')?.dirty || prospector.get('numeroIdentite')?.touched)" class="error-message">
          <div *ngIf="prospector.get('numeroIdentite')?.errors?.['required']">Le numéro d'identité est requis.</div>
          <div *ngIf="prospector.get('numeroIdentite')?.errors?.['maxlength']">Le numéro d'identité ne doit pas dépasser 10 chiffres.</div>
        </div>

        <ion-input

          label="Date de naissance"
          label-placement="floating"
          fill="outline"
          placeholder="Date de naissance"
          type="Date"
          formControlName="naissance"

        >
        </ion-input>

        <ion-input

          label="Gouvernorat"
          label-placement="floating"
          fill="outline"
          placeholder="Gouvernorat"
          type="text"
          formControlName="gouvernorat"

        >
        </ion-input>
        <ion-input


          label="Nationalte"
           label-placement="floating"
            fill="outline" placeholder="Nationalite"
            type="text"

          formControlName="nationalite"
           >
        </ion-input>
      </ion-col>

      <ion-col size="6">
        <ion-input

          label="Délégation"
          label-placement="floating"
          fill="outline"
          placeholder="Délégation"
          type="text"
          formControlName="delegation"

        >
        </ion-input>

        <ion-input

          label="Localité"
          label-placement="floating"
          fill="outline"
          placeholder="Localité"
          type="text"
          formControlName="localite"

        >
        </ion-input>

        <ion-input

          label="Adresse"
          label-placement="floating"
          fill="outline"
          placeholder="Adresse"
          type="text"
          formControlName="adresse"

        >
        </ion-input>

        <ion-input

          label="Code postal"
          label-placement="floating"
          fill="outline"
          placeholder="Code postal"
          type="text"
          formControlName="codepostale"

        >
        </ion-input>
        <ion-input

  label="Numéro de contact"
  label-placement="floating"
  fill="outline"
  placeholder="Numéro de contact"
  type="number"
  maxlength="8"
  formControlName="numContact"
  (input)="onInput($event)"
>
</ion-input>
<div *ngIf="prospector.get('numContact')?.invalid && (prospector.get('numContact')?.dirty || prospector.get('numContact')?.touched)" class="error-message">
  <div *ngIf="prospector.get('numContact')?.errors?.['required']">Le numéro de telephone est requis.</div>
  <div *ngIf="prospector.get('numContact')?.errors?.['maxlength']">Le numéro de telephone ne doit pas dépasser 8 chiffres.</div>
</div>

<ion-input
  label="Adresse email"
  label-placement="floating"
  fill="outline"
  type="email"
  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
  formControlName="email"

>
<div *ngIf="prospector.get('email')?.errors?.['required'] && (prospector.get('email')?.dirty || prospector.get('email')?.touched)" class="error-message">
  L'adresse email est requise.
</div>
<div *ngIf="prospector.get('email')?.errors?.['pattern'] && (prospector.get('email')?.dirty || prospector.get('email')?.touched)" class="error-message">
  L'adresse email doit être au format correct (ex. exemple@example.com).
</div>

</ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-button (click)="navigateToOffres()" type="submit" shape="round" expand="block"
[disabled]="!prospector.valid"
>Suivant</ion-button>


</form>

</ion-content>
